.container {
  margin: auto;
  padding-top: 30px;
  width: 330px;
}

.form{
  margin: 2em auto;
  padding: 1em 2em;
  max-width: 30em;
  background-color: #fffbf3;
}

.form-field{
  display: flex;
  align-items: baseline;
}

.block {
  display: block;
}

.custom-button {
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.button-danger {
  background-color: red;
}

/* .input {
  margin-bottom: 30px;
  padding: 5px 15px;
  width: 300px;
}

.input:focus {
  border: 5px solid orange;
  outline: none;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
} */