.container {
  margin: auto;
  padding-top: 30px;
  width: 330px;
}

.input {
  margin-bottom: 30px;
  padding: 5px 15px;
  width: 300px;
}

.input:focus {
  border: 5px solid orange;
  outline: none;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
}